


&.search {
    
    @include reset-box;

    label {
        @extend .screen-reader-text;
    }

    input[type=search] {
        border: 2px solid $black;
        font-size: $measure;
        padding: ($measure / 2);
        background-color: $black;
        color: $white;
        transition: all 1s $ease-out;

        &:focus {
            background-color: $white;
            color: $black;
        }
       
    }

 
    input::placeholder {
        color: $white;
        font-family: $heading;
        text-transform: uppercase;
        opacity: 1;
      }
    

}
