&.item {

    .header {
        @include reset-box;
        background-color: $black;


        &.image {
            padding: ($screen-height / 2) $zero $zero $zero;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }


        .text {
            background: linear-gradient(rgba($black, 0), $black);
            

            .title {
                @include max-width;
                color: $white;
                font-size: ($measure * 2.6);
                padding: $measure;
                
            }

            .summary, .pubdate {
                @include max-width;
                color: $white;
                padding: ($measure / 2) $measure;
                
            }

            .summary {
                font-size: ($measure * 1.2);
            }

            .original {

                background-color: $red;

                &:hover {
                    background-color: darken($red, 20);
                }

                a {
                    @include flex-center;
                    @include max-width;
                    justify-content: flex-start;
                    color: $white;
                    padding: $measure;
                    font-size: ($measure * 1.2);
                    text-decoration: none;

                    

                    &:before {
                        @extend .material-icons;
                        content: 'open_in_new';
                        font-size: ($measure * 2);
                        margin-right: $measure;
                        
                    }
                    
                }
            }
        }

    }

    .content {
        padding: $measure;
        max-width: $max-width;
        margin: $zero auto;

        img {
            display: block;
            clear: both;
            margin: $measure auto;
        }

        ul, ol {
            li {
                a, p, div, img {
                    @include reset-box;
                    display: inline;
                    clear: none;

                }
            }
        }
       
    }


    .footer {
        
        padding: $measure $zero;
        background-color: $black;
        color: $white;

        .title {
            @include max-width;
            padding: $zero $measure;
            font-size: ($measure * 1.5);

        }

      

        .original {
            @include reset-box;
            @include max-width;

            strong {
                @extend .title;
            }
            
            a {
                @include flex-center;
                @include max-width;
                justify-content: flex-start;
                color: $white;
                padding: $measure;
                font-size: $measure;
                text-decoration: none;


                &:before {
                    @extend .material-icons;
                    content: 'open_in_new';
                    font-size: ($measure * 2);
                    margin-right: $measure;
                    
                }
                
            }
        }


    }
    
}
