


&.tags {

    background-color: $black;
    padding: $measure $zero;


    ul {

        @include max-width;
        @include flex-center;
        padding: $zero;
        flex-wrap: wrap;

        li {

            a {
                font-size: $measure;
                font-family: $heading;
                margin: $measure;
                color: $white;
                text-transform: uppercase;
            }


        }

    }

    


    

}
