


$home-bg: '../img/Shoreham_by_Sea_aerial.jpg';


$stock-1: '../img/abstract-art-artistic-673648.jpg';
$stock-2: '../img/abstract-business-code-270348.jpg';
$stock-3: '../img/adult-art-artist-297648.jpg';
$stock-4: '../img/advertising-alphabet-business-270637.jpg';
$stock-5: '../img/art-artistic-bright-268435.jpg';
$stock-6: '../img/blur-cellphone-close-up-196644.jpg';
$stock-7: '../img/blur-close-up-design-196645.jpg';
$stock-8: '../img/business-close-up-commerce-266176.jpg';