



$body: 'Open Sans', sans-serif;
$heading: 'Anton', sans-serif;
$serif: 'Libre Baskerville', serif;
$icon: 'Material Icons';

$bold: 700;
$normal: 500;


h1,h2,h3,h4 {
	font-family: $heading;
  font-weight: $normal;
  line-height: 1.2;
}

h1 {
  font-size: ($measure * 1.2);
  @include breakpoint(desktop) {
    font-size: ($measure * 2);
  }
}

h2 {
  font-size: ($measure * 1.1);
  @include breakpoint(tablet) {
    font-size: ($measure * 1.5);
  }
}

h3 {
  font-size: $measure;
  @include breakpoint(tablet) {
    font-size: ($measure * 1.2);
  }
}

body, p, ul, ol, nav {
	font-family: $body;
	font-size: 1rem;
  font-weight: $normal;
  line-height: 1.4;
}

p {
  text-align: left;

  a {
    color: $black;
  }
}

.title {
  font-family: $heading;
  //font-weight: $bold;
  text-transform: uppercase;
}

.serif {
    font-family: $serif;
  }

.material-icons {
  font-family: $icon;
  font-weight: normal;
  font-style: normal;
  font-size: $measure;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal!important;
}

.not-screen-reader-text {
  clip: unset;
  height: unset;
  width: unset;
  overflow: unset;

}
