


&.site {
    padding: $measure;
    text-align: center;
    background-color: $black;
    border-top: 0.5rem solid $red;

    .title {
        @include reset-box;
        color: $white;
       
    }

    .logo {
        a {
            color: $white;
        }

    }

    .copyright {
        @include max-width;
        text-align: center;
        padding: $measure $zero;
        color: $white;
    }

    .nav {
        @include max-width;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $measure $zero;

        a {
            text-transform: uppercase;
            font-weight: $bold;
            color: $white;
            font-size: ($measure * 0.8);
            margin: $zero $measure;
            color: $white;
            
        }
    }

    
}
